page-chat {
    .innerMessage {
        display: inline-block;
        padding: 5px 10px;
        background-color: #ff0000;
        margin: 5px;
        color: white;
        border-radius: 3px;
    }

    .username {
        font-weight: bold;
        font-size: 80%;
        text-shadow: 1px 1px black;
        letter-spacing: 1px;
    }

    .timeright {
        font-weight: bold;
        font-size: 80%;
        float: right;
        margin-top: 32px;
        color: #bbbbbb;
    }

    .timeleft {
        font-weight: bold;
        font-size: 80%;
        float: left;
        margin-top: 32px;
        color: #bbbbbb;
    }

    .message {
        font-size: 100%;
    }

    .message:after {
        content: '';
        display: block;
        clear: both;
    }

    .messageLeft {
        background-color: #a3a3a3;
        float: left;
    }

    .messageRight {
        float: right;
    }

}
