<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      สิ้นค้า
    </ion-title>
    <ion-buttons end>
      <button ion-button color="primary" *ngIf="userRole == 'admin'" (click)="toaddproduct()">ADD PRODUCT</button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="typproduct">
      <ion-segment-button value="necklace">
        สร้อยคอ
      </ion-segment-button>
      <ion-segment-button value="rings">
        แหวน
      </ion-segment-button>
      <ion-segment-button value="bangle">
        กำไล
      </ion-segment-button>
      <ion-segment-button value="bracelets">
        สร้อยข้อมือ
      </ion-segment-button>
      <ion-segment-button value="earring">
        ต่างหู
      </ion-segment-button>
      <ion-segment-button value="pendant">
        จี้
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="action-sheets-basic-page">
  <div [ngSwitch]="typproduct">
    <ion-list *ngSwitchCase="'necklace'">
      <ion-card *ngFor="let product of products | productFilter : searchProductText : categoryBy as testvalue ; let i=index"
        (click)="openMenu(product.p_Id,product,userId)" style="margin-top:5px; margin-bottom: 5px;">

        <ion-item style="padding: 0px; margin: 0px;">
          <ion-thumbnail item-start style="margin: 0px 16px 0px 0px;">
            <img src="https://yaowarat101.net/image/products/{{product.p_Id}}.jpg" style="width: 80px; height: 80px;">
          </ion-thumbnail>
          <ion-label style="margin: 0px 16px 0px 0px;">
            <h2>{{product.p_Name}}</h2>
            <span class="fs"> น้ำหนัก </span>
            <span class="fs" *ngIf="product.p_Weight > 1 && product.p_Weight < 15.2">{{product.p_Weight}}
              กรัม({{(product.p_Weight * 1 / 3.8) | number:'1.0-2'}} สลึง)</span>
            <span class="fs" *ngIf="product.p_Weight >= 15.2">{{product.p_Weight}} กรัม({{(product.p_Weight * 1 / 15.2)
              | number:'1.0-2'}} บาท)</span>
            <span class="fs" *ngIf="product.p_Weight <= 1">{{product.p_Weight}} กรัม</span>
            <span class="fs">ขนาด {{product.p_Length}} นิ้ว </span>
            <p style="color : #ff0000; font-size: 17px" center text-right><b>{{product.p_Price | number:'1.2-2'}} บาท</b></p>
          </ion-label>
        </ion-item>

      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'rings'">
      <ion-card *ngFor="let product of products | productFilter : searchProductText : 'แหวน' as testvalue ; let i=index"
        (click)="openMenu(product.p_Id,product,userId)">

        <ion-item style="padding: 0px; margin: 0px;">
          <ion-thumbnail item-start style="margin: 0px 16px 0px 0px;">
            <img src="https://yaowarat101.net/image/products/{{product.p_Id}}.jpg" style="width: 80px; height: 80px;">
          </ion-thumbnail>
          <ion-label style="margin: 0px 16px 0px 0px;">
            <h2>{{product.p_Name}}</h2>
            <span class="fs"> น้ำหนัก </span>
            <span class="fs" *ngIf="product.p_Weight > 1 && product.p_Weight < 15.2">{{product.p_Weight}}
              กรัม({{(product.p_Weight * 1 / 3.8) | number:'1.0-2'}} สลึง)</span>
            <span class="fs" *ngIf="product.p_Weight >= 15.2">{{product.p_Weight}} กรัม({{(product.p_Weight * 1 / 15.2)
              | number:'1.0-2'}} บาท)</span>
            <span class="fs" *ngIf="product.p_Weight <= 1">{{product.p_Weight}} กรัม</span>
            <span class="fs">ขนาด {{product.p_Length}} นิ้ว </span>
            <p style="color : #ff0000; font-size: 17px" center text-right><b>{{product.p_Price | number:'1.2-2'}} บาท</b></p>
          </ion-label>
        </ion-item>

      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'bangle'">
      <ion-card *ngFor="let product of products | productFilter : searchProductText : 'กำไล' as testvalue ; let i=index"
        (click)="openMenu(product.p_Id,product,userId)">

        <ion-item style="padding: 0px; margin: 0px;">
          <ion-thumbnail item-start style="margin: 0px 16px 0px 0px;">
            <img src="https://yaowarat101.net/image/products/{{product.p_Id}}.jpg" style="width: 80px; height: 80px;">
          </ion-thumbnail>
          <ion-label style="margin: 0px 16px 0px 0px;">
            <h2>{{product.p_Name}}</h2>
            <span class="fs"> น้ำหนัก </span>
            <span class="fs" *ngIf="product.p_Weight > 1 && product.p_Weight < 15.2">{{product.p_Weight}}
              กรัม({{(product.p_Weight * 1 / 3.8) | number:'1.0-2'}} สลึง)</span>
            <span class="fs" *ngIf="product.p_Weight >= 15.2">{{product.p_Weight}} กรัม({{(product.p_Weight * 1 / 15.2)
              | number:'1.0-2'}} บาท)</span>
            <span class="fs" *ngIf="product.p_Weight <= 1">{{product.p_Weight}} กรัม</span>
            <span class="fs">ขนาด {{product.p_Length}} นิ้ว </span>
            <p style="color : #ff0000; font-size: 17px" center text-right><b>{{product.p_Price | number:'1.2-2'}} บาท</b></p>
          </ion-label>
        </ion-item>

      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'bracelets'">
      <ion-card *ngFor="let product of products | productFilter : searchProductText : 'สร้อยข้อมือ' as testvalue ; let i=index"
        (click)="openMenu(product.p_Id,product,userId)">

        <ion-item style="padding: 0px; margin: 0px;">
          <ion-thumbnail item-start style="margin: 0px 16px 0px 0px;">
            <img src="https://yaowarat101.net/image/products/{{product.p_Id}}.jpg" style="width: 80px; height: 80px;">
          </ion-thumbnail>
          <ion-label style="margin: 0px 16px 0px 0px;">
            <h2>{{product.p_Name}}</h2>
            <span class="fs"> น้ำหนัก </span>
            <span class="fs" *ngIf="product.p_Weight > 1 && product.p_Weight < 15.2">{{product.p_Weight}}
              กรัม({{(product.p_Weight * 1 / 3.8) | number:'1.0-2'}} สลึง)</span>
            <span class="fs" *ngIf="product.p_Weight >= 15.2">{{product.p_Weight}} กรัม({{(product.p_Weight * 1 / 15.2)
              | number:'1.0-2'}} บาท)</span>
            <span class="fs" *ngIf="product.p_Weight <= 1">{{product.p_Weight}} กรัม</span>
            <span class="fs">ขนาด {{product.p_Length}} นิ้ว </span>
            <p style="color : #ff0000; font-size: 17px" center text-right><b>{{product.p_Price | number:'1.2-2'}} บาท</b></p>
          </ion-label>
        </ion-item>

      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'earring'">
      <ion-card *ngFor="let product of products | productFilter : searchProductText : 'ต่างหู' as testvalue ; let i=index"
        (click)="openMenu(product.p_Id,product,userId)">

        <ion-item style="padding: 0px; margin: 0px;">
          <ion-thumbnail item-start style="margin: 0px 16px 0px 0px;">
            <img src="https://yaowarat101.net/image/products/{{product.p_Id}}.jpg" style="width: 80px; height: 80px;">
          </ion-thumbnail>
          <ion-label style="margin: 0px 16px 0px 0px;">
            <h2>{{product.p_Name}}</h2>
            <span class="fs"> น้ำหนัก </span>
            <span class="fs" *ngIf="product.p_Weight > 1 && product.p_Weight < 15.2">{{product.p_Weight}}
              กรัม({{(product.p_Weight * 1 / 3.8) | number:'1.0-2'}} สลึง)</span>
            <span class="fs" *ngIf="product.p_Weight >= 15.2">{{product.p_Weight}} กรัม({{(product.p_Weight * 1 / 15.2)
              | number:'1.0-2'}} บาท)</span>
            <span class="fs" *ngIf="product.p_Weight <= 1">{{product.p_Weight}} กรัม</span>
            <span class="fs">ขนาด {{product.p_Length}} นิ้ว </span>
            <p style="color : #ff0000; font-size: 17px" center text-right><b>{{product.p_Price | number:'1.2-2'}} บาท</b></p>
          </ion-label>
        </ion-item>

      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'pendant'">
      <ion-card *ngFor="let product of products | productFilter : searchProductText : 'จี้' as testvalue ; let i=index"
        (click)="openMenu(product.p_Id,product,userId)">

        <ion-item style="padding: 0px; margin: 0px;">
          <ion-thumbnail item-start style="margin: 0px 16px 0px 0px;">
            <img src="https://yaowarat101.net/image/products/{{product.p_Id}}.jpg" style="width: 80px; height: 80px;">
          </ion-thumbnail>
          <ion-label style="margin: 0px 16px 0px 0px;">
            <h2>{{product.p_Name}}</h2>
            <span class="fs"> น้ำหนัก </span>
            <span class="fs" *ngIf="product.p_Weight > 1 && product.p_Weight < 15.2">{{product.p_Weight}}
              กรัม({{(product.p_Weight * 1 / 3.8) | number:'1.0-2'}} สลึง)</span>
            <span class="fs" *ngIf="product.p_Weight >= 15.2">{{product.p_Weight}} กรัม({{(product.p_Weight * 1 / 15.2)
              | number:'1.0-2'}} บาท)</span>
            <span class="fs" *ngIf="product.p_Weight <= 1">{{product.p_Weight}} กรัม</span>
            <span class="fs">ขนาด {{product.p_Length}} นิ้ว </span>
            <p style="color : #ff0000; font-size: 17px" center text-right><b>{{product.p_Price | number:'1.2-2'}} บาท</b></p>
          </ion-label>
        </ion-item>

      </ion-card>
    </ion-list>
  </div>
</ion-content>


<div>
  <style>
    .hidden {
      visibility: hidden
    }
  </style>
</div>